<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 属性文件读入 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:*.properties</value>
            </list>
        </property>
    </bean>

    <!--导入spring配置文件-->
    <import resource="classpath:spring/spring-tx.xml"/>
    <import resource="classpath:spring/spring-dao.xml"/>
    <import resource="classpath:spring/spring-service.xml"/>

    <!-- 扫描base-package包下所有使用注解的类型 -->
    <!--<context:component-scan base-package="com.gx.demo.ssm.web"/>-->

    <!-- aop动态代理 -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
</beans>